<div class="row">
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <div class="small-12 medium-12 large-6 columns">
        <div class="footer-logo">
          <a href="http://ingamba.pro">
            <img src="{{'logo-black.png' | asset_url}}" alt="{{shop.name}}" style="max-width: 140px;"/>
          </a>
          <p>
            &copy; 2018 inGamba
          </p>
        </div>
      </div>
      <div class="small-12 medium-12 large-6 columns">
          <h2>CONTACT</h2>
          <p>
            <a href="">Contact Us</a><br/>
            888.316.9791
          </p>
          <p>
            inGamba Tours<br/>
            80 Liberty Ship Way<br/>
            Suite 22<br/>
            Sausalito, CA 94965<br/>
          </p>
      </div>
    </div>
  </div>		
  <div class="small-12 medium-12 large-4 columns">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <h2>COMPANY</h2>
				<p>
					<a href="http://ingamba.pro/destinations/tuscany/">Tuscany</a><br>
					<a href="http://ingamba.pro/destinations/dolomites/">Dolomites</a><br>
					<a href="http://ingamba.pro/destinations/portugal/">Portugal</a><br>
					<a href="http://ingamba.pro/trips/">Trips</a><br>
					<a href="http://ingamba.pro/self-guided//">Self Guided</a><br>
					<a href="https://gear.ingamba.pro/">The Shop</a><br>
					<a href="http://ingamba.pro/journal/">Journal</a><br>
					<a href="http://ingamba.pro/mission/">Mission</a>
				</p>
      </div>
      <div class="small-12 medium-4 columns">
        <h2>CONNECT</h2>
				<p>
          <a href="https://www.instagram.com/ingambatours/">Instagram</a><br>
          <a href="https://www.facebook.com/inGambaTours">Facebook</a><br>
          <a href="https://twitter.com/ingambatours">Twitter</a><br>
          <a href="https://flipboard.com/@ingambatours/ingamba-tours-err0ksjfy">Flipboard</a><br>
          <a href="https://vimeo.com/ingambatours">Vimeo</a><br>
          <a href=""></a><br>
        </p>
      </div>
      <div class="small-12 medium-4 columns">
        <h2>MORE INFO</h2>
				<p>
					<a href="http://ingamba.pro/press">Press</a><br>
					<a href="http://fundraise.worldbicyclerelief.org/inGambaTours">Make a Difference</a><br>
					<a href="http://gotenac.com/ingamba-training-strategies/">Coaching</a><br>
					<a href="http://ingamba.pro/privacy">Privacy</a><br>
					<a href="http://ingamba.pro/terms-and-conditions">Terms and Conditions</a><br>
					<a href="http://ingamba.pro/faq">FAQ</a><br>
					<a href="http://ingamba.pro/contact-us/">Contact Us</a>
				</p>
      </div>
    </div>
  </div>			
  <div class="small-12 medium-12 large-4 columns">
    <h2>NEWSLETTER SIGNUP</h2>
    <form>
      <div class="input-group">
        <input type="text" value="" placeholder="enter email address" class="input-group-field">
        <div class="input-group-button">
          <div class="input-group-right"><img src="{{'igb-input-chevron-right.png' | asset_url}}"></div>
        </div>
      </div>
      <div class="form-group"><input type="button" class="button" value="SIGN UP"></div>
    </form>
  </div>					
</div>